<form  method="POST" enctype="multipart/form-data">
  <label for="">User Name :</label>
  <input type="text" name="name" value={{mydata.name}} placeholder="Enter a name"><br>
  <label for="">E-mail</label>
  <input type="text" name="email" value={{mydata.email}} placeholder="Enter a email"><br>
  <label for="">Mobile</label>
  <input type="text" name="phno" value={{mydata.phno}} placeholder="Enter a number"><br>
  <input type="radio" name="gender" value="female"><label for="">Female</label><br>
  <label for="">Password :</label>
  <input type="password" name="password" value={{mydata.password}}><br>
  <label for="">DOB</label>
  <input type="date" name="dob" value={{mydata.dob}}><br>
  <label for="">Address</label>
<textarea name="address" cols="4" rows="4" placeholder="Enter a address" >{{mydata.address}}</textarea>
  
  <input type="submit">
  <a href="/display"><input type="button" name="Display" value="Display"></a>
</form>