<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/error.css" />

</head>

<body>
    <form id="myform" method="post">
        <button type="button" class="logout" style="float: right;">Logout</button>
        <div class="col-md-5" style="margin: auto;">
            <div class="form-floating">
                <input type="text" name="name" class="form-control" id="floatingInput" placeholder="name" />
                <label>Enter Name</label>
            </div>

            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floatingInput1" placeholder="name@example.com"
                    name="email" />
                <label>Email Address</label>

            </div>

            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floatingMobile" placeholder="mobile NO" name="mobile"
                    value="{{mobile}}" />
                <label>Mobile</label>

            </div>
            <div class="form-floating mt-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                    value="{{password}}" />
                <label>Password</label>

            </div>
            <div class="form-floating mt-3">
                <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Add user</button>
            </div>
        </div>

    </form>

    <br /><br />

    <button type="button" class="btn btn-secondary export">Export</button>
    <table id="example1" class="table table-bordered table-striped table-hover">
        <thead>

            <tr>

                <th><a class="label label-info name" id="name">Name</a> </th>
                <th><a class="label label-info name" id="email">Email</a></th>
                <th><a class="label label-info name" id="mobile">Mobile</a></th>

            </tr>
        </thead>
        <tbody id="bodyAppend">

            {{#each data}}
            <tr class="{{_id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>

            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>

                <th><a class="label label-info name" id="name">Name</a> </th>
                <th><a class="label label-info name" id="email">Email</a></th>
                <th><a class="label label-info name" id="mobile">Mobile</a></th>

            </tr>
        </tfoot>
    </table>
    <form id="importForm" method="post" enctype="multipart/form-data">
        <label for="file"> file input</label>
        <input type="file" class="form-control-file" id="file" name="file" />
        <button type="submit" class="btn btn-primary import" id="import" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Import</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5><br><br>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    {{!-- <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter field" id="fieldName"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" />
                        <span type="submit" class="btn btn-primary field">Add</span>
                    </div> --}}

                    <div class="modal-body">
                        <table id="csvTbl" class="csvTbl table table-hover">
                            <h3 class="dataId">data</h3>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" noHeader="true" id="headerOrNot" name="a">
                                <label class="form-check-label" for="flexCheckDefault" value="check">
                                    if you have not checked header
                                </label>
                            </div>
                            <thead>

                                <tr id="trdata" class="trdata">
                                    <th>Select</th>
                                    <th>First row</th>
                                    <th>Second row</th>
                                    <th>Fields</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary upload" id="upload">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <button type="submit" class="btn btn-primary upload" id="upload">upload</button>

    <div class="container">

         <table id="example1" class="table table-bordered table-striped table-hover">
        <thead>

            <tr>

                <th><a class="label label-info name" id="name">File Name</a> </th>
                <th><a class="label label-info name" id="email">Skip Row</a></th>
                <th><a class="label label-info name" id="mobile">Total Records</a></th>
                <th><a class="label label-info name" id="mobile">Total Uploaded</a></th>
                <th><a class="label label-info name" id="mobile">Duplicates/Discarded</a></th>
                <th><a class="label label-info name" id="mobile">Status</a></th>

            </tr>
        </thead>
        <tbody id="dump">
        </tbody>
    </table>
 
            {{!-- <table id="tableid">
              <tr>
                <th>File Name</th>
                <th>Skip Row</th>
                <th>Total Records</th>
                <th>Total Uploaded</th>
                <th>Duplicates/Discarded</th>
                <th>Status</th>
              </tr>
              <tbody id="fileData">
                <tr>
                
                </tr>
              </tbody>
            </table> --}}
  </div>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/jquery-input-mask-phone-number.min.js"></script>
    <script src="/javascripts/additional-methods.min.js"></script>
    <script src="/javascripts/api.js"></script>
    <script
  src="https://cdn.socket.io/4.4.0/socket.io.min.js"
  integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
  crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</body>

</html>