<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Display</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
     <link rel="stylesheet" href="../style.css" text="html/CSS" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

</style>
</head>

<body class="hold-transition sidebar-mini">
        <section class="gallery_block">
        <div>
            <h2 style="margin-bottom: 1.3rem">Products Display</h2>
            <p>{{mydata.length}} Records Found </p>
        </div>
        <div class="gallery_view">
            {{#each mydata}}
            <div class="gallery">
                 <img src="/productUploads/{{product_Image}}" style="width: 100%;" />
                <div class="gallery_title">
                    <h4> <label>Product Name</label> {{product_name}}</h4>
                </div>
                <div class="gallery_desc">
                    <p> <label>Product Price : </label>
                      {{product_price}}
                    </p>
                     <p>  <label>Sub-Category Name : </label>
                     {{_subcategory.sub_category_name}}
                    </p>
                </div>
               <a href='/product/edit/{{_id}}' class="btn_gallery">Edit</a>
               <a href='/product/delete/{{_id}}' Onclick="ConfirmDelete()" class="btn_gallery">Delete</a> 
                {{!-- <a href='/subcategory/show/{{_id}}' class="btn_gallery">Show</a> --}}
            </div>
        </div>
          <div class="gallery_view">
            <div class="gallery">
                 <img src="/productUploads/{{product_Image}}" style="width: 100%;" />
                <div class="gallery_title">
                     <h4> <label>Product Name</label> {{product_name}}</h4>
                </div>
                <div class="gallery_desc">
                    <p> <label>Product Price : </label>
                      {{product_price}}
                    </p>
                     <p> <label>Sub-Category Name : </label>
                     {{_subcategory.sub_category_name}}
                    </p>
                </div>
                <a href='/product/edit/{{_id}}' class="btn_gallery">Edit</a>
               <a href='/product/delete/{{_id}}' Onclick="ConfirmDelete()" class="btn_gallery">Delete</a> 
                {{!-- <a href='/subcategory/show/{{_id}}'>Show</a> --}}
            </div>
        {{/each}}
        </div>
        <!--  -->
           </section>

<table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                 <th>Product Name</th>
                                  <th>Product Image</th>
                                 <th>Sub-Category</th>
                                 <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <p>{{mydata.length}} Records Found </p>
                                {{#each mydata}}
                                     <tr>
                                      <td>{{product_name}}</td>
                                      <td><img src="/productUploads/{{product_Image}}" style="width: 100px;" /></td>
                                      <td>{{_subcategory.sub_category_name}}</td>
                                        <td>
                                          <a href='/product/edit/{{_id}}'>Edit</a> | 
                                          <a href='/product/delete/{{_id}}' Onclick="ConfirmDelete()">Delete</a> |
                                          <a href='/product/show/{{_id}}'>Show</a>
                                        </td>
                                     </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                 <th>Product Name</th>
                                 <th>Product Image</th>
                                 <th>Sub-Category</th>
                                 <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function() {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
         function ConfirmDelete() {
            var x = confirm("Are you sure you want to delete?");
            if (x)
              return true;
            else
              return false;
        }
    </script>
</body>

</html>