<table border=1>
                            <thead>
                                <tr>
                                    <th>Sub Category</th>
                                 <th>product name</th>
                                 <th>product price</th>
                                 <th colspan="3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <h1>{{product_array}}</h1>
                                <p>{{product_array.length}} Records Found </p>
                                {{#each product_array}}
                                     <tr>
                                         <td>{{_sub_category.sub_category_name}}</td>
                                      <td>{{product_name}}</td>
                                      <td>{{product_price}}</td>
                            <td>
                    <a href='/product/edit/{{_id}}'>Edit</a> | 
                    <a href='/product/delete/{{_id}}' Onclick="ConfirmDelete()">Delete</a> |
                    <a href='/product/show/{{_id}}'>Show</a>
          </td>
          </td>
                                     </tr>
                                {{/each}}
                            </tbody>
                           
                        </table>